.container{
    width:100%;
    max-width:100%;
    margin:0;
    overflow: hidden;
    
}
body{
    background-color: #010020;
    margin:0px;
    width:100%;
    display: flex;
    font-family:sans-serif;
    position: relative;

}
header{
    height:100px;
    display: flex;
    width:100%;
    
}

.logocontainer{
    width:40%;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;

}

.menu{
    width:60%;
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
    margin-left: 300px;
   
    
    
    
}

.logo{
    display:flex;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    margin-left: 220px;

}

.buttons{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    width:100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left:40px;
    margin-right: 0;
}
    

#signup{
    color:#168965;
    font-weight: bold;
    border-right-style: solid;
    border-color:white;
    
}

main{
    margin-top: 100px;
    height:452px;
    display: flex;
    width:100%;
    align-items: center;
    
    
}

.textcentral{
    display:flex;
    flex-direction: column;
    width:40%;
    align-items: flex-start;
    height:600px;
    margin-left: 200px;
 
}

.imatgecentralcontainer{
    display: flex;
    width:70%;
    height: 700px;

}

.imatgecentral{
    height:65%;
    width:70%;
    margin-top: 30px;
    position: relative;

}

.drum {
    height: 98px;
    width:92px;
    border-radius: 50%;
    position: absolute;
    top:135px;
    left:698px;
    background-color: black;
}

.drum2{
    height: 98px;
    width:92px;
    border-radius: 50%;
    position: absolute;
    top:135px;
    left:1173px;
    background-color: black;
}
h1{
    color: white;
    font-size:50px;
}

h3{
    margin-top: -15px;
    color:#565470;
    font-size: 14px;
}

.midbutton{
    text-decoration: none;
    border-style: solid;
    border-radius:45px;
    padding:10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #00f281;
    border-color: #00f281;
    color:white;

}
section{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;

}

h2{
    color:white;
    font-size: 25px;
}

.endbutton{
    text-decoration: none;
    border-style: solid;
    border-radius:45px;
    padding:10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color:white;
    color: #010020;
    font-weight: bold;
}

